@{
    ViewBag.Title = "About";
}

<h1>About</h1>

<h3>Atlas Project</h3>
<p>
    Developed by Ryan Clark.<br />
    Source code available on GitHub:<br />
    - <a href="http://www.github.com/ryancdotnet/Sessions-ZazzyWebApps/">Sessions-ZazzyWebApps</a>
</p>

