@{
    ViewBag.Title = "Contact";
}

<h1>Contact</h1>

<p>
    You can connect with me on these platforms:<br />
    <a href="http://twitter.com/ryancdotnet" target="_blank">Twitter - ryancdotnet</a>
</p>
