@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to the Atlas Project</h1>

<p>
    This test project shows a variety of techniques across various tools and technologies. Some of those include:
</p>
<ul>
    <li>ASP.NET Web API</li>
    <li>Knockout</li>
    <li>ASP.NET MVC</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Javascript</li>
</ul>